<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXPem95UTTsjYLnEHRMrCYmZJk7k6IEkk</string>
	<key>GCM_SENDER_ID</key>
	<string>250556864952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mofeedowner.unisidekick.mofeedOwner</string>
	<key>PROJECT_ID</key>
	<string>mofeed-3e22a</string>
	<key>STORAGE_BUCKET</key>
	<string>mofeed-3e22a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250556864952:ios:1210a7de35448448d1d74d</string>
</dict>
</plist>